.navbar{
	width: auto;
	height: 50px;
	background-color: #f1f2f2;
	position: fixed;
	margin: -10px;
}


.logobox{
	width: 150px;
	height: 40px;
	padding-top: 10px;
	font-family: helvetica, sans-serif;
	background-color: black;
	color: white;
	font-size: 13px;
	display: inline;
	float: left;
	margin-top: -20px;
	margin-left: 20px;
	text-align: center;
}


ul.nav-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}

li a{
	display: inline;
	float: right;
	width: 60px;
	color: orange;
	padding: 10px;
}



