.header{
	width: 100%;
	height: 50px;
	background-color: #f1f2f2;
	position: fixed;
	margin: -10px;
}

.navbar{
	width: 80%;
	height: 50px;
	margin: auto;
	display: block;
}


.logobox{
	width: 150px;
	height: 40px;
	padding-top: 10px;
	font-family: helvetica, sans-serif;
	background-color: black;
	color: white;
	font-size: 13px;
	display: inline;
	float: left;
	margin-left: 20px;
	text-align: center;
}


ul.nav-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

li{
	display: inline;
	float: right;
	width: 60px;
	color: orange;
	padding: 20px;
	font-family: helvetica, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}

li.login-btn{
	width: 60px;
	color: black;
	background-color: grey;
	border-radius: 15px;
	padding: 20px;
}

.introbox{
	background-color: lightgrey;
	clear: both;
	width: 100%;
	height: 350px;
}


