
.main-nav {
	width: auto;
	height: 100px;
	background-color: grey;
	position: fixed;

}


.logobox{
	width: 400px;
	height: 75px;
	background-color: black;
	margin-left: 50px;
	float: left;
	display: inline;
	font-family: helvetica, san-serif;
	text-transform: uppercase;
}

.logo-nav{
	width: auto;
	height: 50px;
	display: inline;
	float: left;
	padding-left: 50px;
}


.nav-menu{
	font-family: helvetica, san-serif;
	font-size: 10px;
	color: black;
	padding-right: 20px;
	float: right;
	text-transform: uppercase;
	display: inline-block;

}

.login-btn{
	background-color: : black;
	color: white;
	width: 120px;
	height: 100px;
	border-radius: 5px;
	font-size: 10px;
	font-family: helvetica, san-serif;
}